/* 📄 파일: /assets/css/pages/dashboard/approval/write_progress_review.css */

.approval-main {
	padding: 60px 20px 60px 260px;
	background-color: #f8f9fa;
	min-height: calc(100vh - 120px);
	box-sizing: border-box;
}

	.approval-main h5 {
		font-weight: bold;
	}

	.approval-main textarea {
		resize: vertical;
	}
